.App {
  text-align: center;
}

.recipe {
  margin-bottom: 40px;
}

.ingredients-table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

.ingredients-table th, .ingredients-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.ingredients-table th {
  background-color: #f2f2f2;
}
